/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;

$lightpurple: #BBC3E7;
$purple: #6C7FD3;
$darkgray:#424B54;
$gray:#D3D3D3;
$bam:#637275;
$bokjori:#FF4D4D;
