/* =============
    hero
============= */


.hero{
    .hero-content{
        @include md{
            display: grid;
            grid-template-columns: 40% 60%;
        }

        @include lg{
            grid-template-columns: 50% 50%;
        }
    }    
    .hero-content-left.container{
        @include lg{
        grid-template-columns: auto auto 16px;
        }
        background-color: #000000;
        color: #FFFFFF;
        padding: 12px;

    } 
    .hero-content-right.container{
        @include lg{
        grid-template-columns: auto auto 16px; /*need to be fixed */
        }
        padding: 12px;
        background-color: #D3D3D3;
        color:#424B54
        
        
    } 
}


   