


.hero{
    .hero-content{
        @include md{
            display: grid;
            grid-template-columns: 40% 60%;
        }

        @include lg{
            grid-template-columns: 50% 50%;
        }
    }    
    .hero-content-left.container{
        @include lg{
        grid-template-columns: auto auto 16px;
        }

    } 
    .hero-content-right.container{
        @include lg{
        grid-template-columns: auto auto 16px; /*need to be fixed */
        }

    } 
}
   