/* =============
   whatsnew
============= */

.whats-new{
    margin: 0 0 20px 0;

    @include md{
        margin: 30px 0 40px 0; 
    }

    @include lg{
        margin: 50px 0 60px 0;
    }

.what-new-title{
    h2{
        font-size: 20px;
        font-weight:300 ;
        color: grey;
        padding: 10px 0 10px 0;

    
    @include lg{
        font-size: 32px;
    }
    
    @include xl{
        font-size: 40px;

    }
    
    }
}
    

    .whats-new-articles{

  
        @include md{
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: ". articles .";
        }
    
        @include md{
          grid-template-columns: auto 1140px auto;
        }
    
        @include xxl{
            grid-template-columns: auto 1320px auto;
          }
    
        ul.article-grid{
            list-style: none;
            padding-left: 0;

            display: grid;
            grid-template-columns: 100%;
            gap: 15px;

            @include md{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-area: articles;
                grid-template-areas:
                "a1 a1 a2 a2"
                "a3 a3 a4 a4"
                ". a5 a5 .";
            }
    
            @include lg{
                grid-template-columns: repeat(6,1fr);
                grid-template-areas: 
                "a1 a1 a2 a2 a3 a3"
                ". a4 a4 a5 a5 ."; 
                
            }
    
            li{
                background-color: $white;

                
                
                .container{
                    @include xl{
                        grid-template-columns: 15px auto;
                    }

                    h3{
                        font-size: 28px;
                        margin-bottom: 10px;
                    }

                    p{
                        padding-bottom: 25px;

                    }
                    a{
                        color: $white;
                        background-color: $black;
                        padding: 10px 20px 10px 20px;
                        text-decoration: none;
                        text-align: center;
                    }
                }
                &.article-1{
                    @include md{
                        grid-area: a1;
                    } 
                }
    
                &.article-2{
                    @include md{
                        grid-area: a2;
                    }
                }
    
                &.article-3{
                    @include md{
                        grid-area: a3;
                    }
                }
    
                &.article-4{
                    @include md{
                        grid-area: a4;
                    }
                }
    
                &.article-5{
                    @include md{
                        grid-area: a5;
                    }
                }
            }
        }  
    }
    

}
