/* =============
    Footer
============= */

footer{
   
    .content{
      
        background-color: #BBC3E7;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "location newsletter"
            "location follow";   
        }

        @include lg{
            grid-template-columns: repreat(3, 1fr);
            grid-template-areas: 
            "locations newsletter follow";
        }

        .location{
            @include md{
                grid-area: locations;
            }
            color: #FFFFFF;
        }
        
        .newsletter{
            @include md{
                
                grid-area: newsletter;

            }
        }
        .follow{
            @include md{
                grid-area: follow;
            }
        }
    }
}
