/* =============
    Header
============= */

header{
    background-color: $white;
   

    .logo{
        margin-left: 26px;
        margin-top: 22px; 
        }

    .content{
    div{
        margin: 20px 0 20px 0px;
        @include md{
            margin: 25px 0 25 px 0px;
        }
    }
    img{
        width: 48px;
        padding-right: 0.5rem; 
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 0px;
    }

    
}    
    