/* =============
    Header
============= */

header{
    padding-top: 25px;
    padding-bottom: 12px;

    .logo{
        margin-left: 26px;
        margin-top: 22px; 
        }

    .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 0px;
    }

    
}    
    